In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

# Extract CSVs into DataFrames

In [7]:
census_file = "Resources/acs_2015_census_tract_data.csv"
census_df = pd.read_csv(census_file)
census_df.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:b5ac5c18462f0a876d5b2b3f2f2589bfa0e...
1                                      size 13054254

# Transform census DataFrame

In [3]:
# Create a filtered dataframe filtered by Ohio and Cuyahoga County
Census_Cuyahoga_County=census_df.loc[(census_df["State"] =="Ohio") & (census_df["County"] =="Cuyahoga")]
Census_Cuyahoga_County.head()

KeyError: 'State'

In [ ]:
#List all columns
cols = Census_Cuyahoga_County.columns.tolist()
cols

In [4]:
# Create a filtered dataframe from specific columns
census_cols = ["CensusTract","TotalPop","Men","Women","Hispanic", "White","Black","Native","Asian","Pacific", "Income","IncomePerCap","Poverty","Professional",
 "Service","Office","Construction","Production","Employed","PrivateWork","PublicWork","SelfEmployed","FamilyWork","Unemployment"]
census_transformed= Census_Cuyahoga_County[census_cols].copy()
census_transformed.head()

NameError: name 'Census_Cuyahoga_County' is not defined

In [5]:
# Rename the column headers
census_transformed = census_transformed.rename(columns={"CensusTract": "census_tract","TotalPop": "total_population","Men": "men","Women": "women","Hispanic":"hispanic","White":"white","Black":"black",
                                                        "Native":"native","Asian":"asian","Pacific":"pacific","Income":"median_household_income","IncomePerCap":"income_per_capita","Poverty":"under_poverty_level_percentage","Professional":"professional_workers_percentage",
                                                       "Service":"service_workers_percentage","Office":"office_workers_percentage","Construction":"construction_workers_percentage",
                                                       "Production":"production_workers_percentage","Employed":"total_employed","PrivateWork":"private_work",
                                                      "PublicWork":"public_work","SelfEmployed":"self_employed","FamilyWork":"family_work","Unemployment":"unemployment" })
# Clean the data by dropping duplicates and setting the index
census_transformed.drop_duplicates("census_tract", inplace=True)
census_transformed.set_index("census_tract", inplace=True)


census_transformed.head()

NameError: name 'census_transformed' is not defined

In [6]:
# Create a filtered dataframe from specific columns for the census employment type table
census_employment_type_columns = [ "total_employed","private_work","public_work","self_employed"]
census_employment_type=census_transformed[census_employment_type_columns].copy()
census_employment_type.head()

NameError: name 'census_transformed' is not defined

In [45]:
# Create a filtered dataframe from specific columns for the census income table
census_income_columns = [ "median_household_income","income_per_capita","under_poverty_level_percentage"]
census_income=census_transformed[census_income_columns].copy()
census_income.head()

,median_household_income,income_per_capita,under_poverty_level_percentage
census_tract,,,
3.903510e+10,16553.0,12081.0,57.2
3.903510e+10,39528.0,34094.0,11.2
3.903510e+10,18262.0,16663.0,43.3
3.903510e+10,19872.0,19636.0,39.6
3.903510e+10,28043.0,14137.0,29.8

In [46]:
# Create a filtered dataframe from specific columns for the census ethnicity table
census_ethnicity_columns = [ "total_population","hispanic","white","black","native","asian","pacific"]
census_ethnicity=census_transformed[census_ethnicity_columns].copy()
census_ethnicity.head()

              total_population  hispanic  white  black  native  asian  pacific
census_tract
3.903510e+10            1903.0      13.8   34.6   35.2     0.0   13.1      0.0
3.903510e+10            4516.0       2.6   65.7   24.9     0.2    0.0      0.0
3.903510e+10            2640.0      22.5   53.7   22.2     0.4    0.0      0.0
3.903510e+10            1897.0      13.5   46.4   29.5     2.1    0.3      0.0
3.903510e+10            1932.0      20.7   50.2   19.5     1.2    5.7      0.0

In [47]:
# Create a filtered dataframe from specific columns for the census gender table
census_gender_columns = [ "total_population","men","women"]
census_gender=census_transformed[census_gender_columns].copy()
census_gender.head()

              total_population     men   women
census_tract
3.903510e+10            1903.0   949.0   954.0
3.903510e+10            4516.0  2348.0  2168.0
3.903510e+10            2640.0  1358.0  1282.0
3.903510e+10            1897.0   973.0   924.0
3.903510e+10            1932.0   893.0  1039.0

In [48]:
# Create a filtered dataframe from specific columns for the census professions table
census_professions_columns = [ "total_employed","professional_workers_percentage","service_workers_percentage","office_workers_percentage","construction_workers_percentage","production_workers_percentage"]
census_professions=census_transformed[census_professions_columns].copy()
census_professions.head()

,total_employed,professional_workers_percentage,service_workers_percentage,office_workers_percentage,construction_workers_percentage,production_workers_percentage
census_tract,,,,,,
3.903510e+10,567.0,22.4,40.2,13.8,2.5,21.2
3.903510e+10,2790.0,38.6,24.9,27.1,3.6,5.8
3.903510e+10,899.0,30.6,16.9,29.8,10.8,11.9
3.903510e+10,861.0,26.2,31.4,15.3,0.0,27.1
3.903510e+10,782.0,18.5,28.6,18.2,6.4,28.3

In [49]:
# Create a filtered dataframe from specific columns for the census population table
census_population_columns = [ "total_population"]
census_population=census_transformed[census_population_columns].copy()
census_population.head()

              total_population
census_tract
3.903510e+10            1903.0
3.903510e+10            4516.0
3.903510e+10            2640.0
3.903510e+10            1897.0
3.903510e+10            1932.0

# Create database connection

In [50]:
connection_string = "postgres:postgres@localhost:5432/Voting_Pattern"
engine = create_engine(f'postgresql://{connection_string}')

In [51]:
# Confirm tables
engine.table_names()

['census_population']

# Load DataFrames into database

In [53]:
#census_population.to_sql(name='census_population', con=engine, if_exists='append', index=True)